<div class="hline"></div>
<a href="#" class="btn backtotop jumper">
  <i class="fea-chevron-up" style="filter:invert(100%)"></i>
</a>
<footer class="main-footer container padding--y-2">
  <div class="main-footer__jumps">
    <a href="/">Home</a>
    <a class="jumper" href="/about">About</a>
    <a href="/article/">Blog</a>
    <a href="/community/">Community</a>
    <a href="{{ metadata.feed.path }}">RSS</a>
  </div>
  <div class="main-footer__copyright">
    
  </div>
  <button class="dank" aria-label="theme switcher">
    <i class="fea-moon"></i>
    <i class="fea-sun"></i>
  </button>
</footer>
